* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #060708;
  color: #cecece;
}

a {
  color: #5c5edc;
}

.video-container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.video-header {
  height: 100vh;
  display: flex;
  align-items: center;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video-wrapper video {
  min-height: 100vh;
  min-width: 100vw;
}

.video-header-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: #2a2b30;
  opacity: 0.85;
}

.video-header-content {
  z-index: 2;
}

.video-header-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: fadeInDown;
  animation-duration: 3s;
}

.video-header-paragraph {
  opacity: 0;
  font-size: 1rem;
  padding-bottom: 3rem;
  animation: fadeIn;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.video-header-btn {
  opacity: 0;
  background: #5c5edc;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  animation: fadeIn;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: 300ms ease-in-out;
}

.video-header-btn:hover {
  background-color: transparent;
  border: 1px solid #5c5edc;
}

.section-email {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url('./img2/hacked.jpg');
  background-size: cover;
  padding: 2rem 0;
  width: 100vw;
  height: 100vh;
}

.email-container {
  max-width: 300px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 18rem 0 3rem;
}

.form label,
input,
button {
  margin: 8px;
}

.form label {
  font-size: 1.7rem;
}

.form input {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 3px;
}

.form button {
  background: #5c5edc;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.hacked {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #e62828;
  animation: hacked;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.clear {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
  color: #3b28e6;
  animation: clear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.content-info {
  line-height: 1.7;
  max-width: 80%;
  margin: 10px auto;
  background-color: #1d1e21d1;
  padding: 1.5rem;
  animation: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.content-info-margin {
  margin-bottom: 0.5rem;
}

.content-info span {
  color: #71addc;
}

#showcase h1, 
#content {
  right: 0;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hacked {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes clear {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (min-width: 640px){

  .video-header-title {
    font-size: 3rem;
  }

  .video-header-paragraph {
    font-size: 1.5rem;
  }

  .form {
    margin-top: 2rem;
  }

  .hacked {
    font-size: 2.5rem;
  }
}


